.gradle/
.idea/
build/
gradle/
release
dump.txt
*.apk
*.iml
graldew
*.bat
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/build/
/captures
.externalNativeBuild
app/unused.txt
app/mapping.txt
app/seeds.txt
